In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person1 = Person("Alice", 30)
print(person1.name)
print(person1.age)

Alice
30

In [2]:
class Car:
    def __init__(self, make, model, year=2020):
        self.make = make
        self.model = model
        self.year = year

car1 = Car("Toyota", "Corolla")
print(car1.year)

car2 = Car("Ford", "Mustang", 2024)
print(car2.year)

2020
2024

In [3]:
class Employee:
    company_name = "TechCorp"

    def __init__(self, name, position):
        self.name = name
        self.position = position

emp1 = Employee("John", "Developer")
print(emp1.company_name)

TechCorp

In [4]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

    @classmethod
    def square(cls, side_length):
        return cls(side_length, side_length)

rect1 = Rectangle(10, 20)
rect2 = Rectangle.square(10)
print(rect1.width, rect1.height)
print(rect2.width, rect2.height)

10 20
10 10

In [5]:
class Account:
    def __init__(self, account_number, balance):
        if balance < 0:
            raise ValueError("Balance cannot be negative")
        self.account_number = account_number
        self.balance = balance

acc = Account("123456", 1000)
print(acc.balance)

1000

In [8]:
class Circle:
    def __init__(self, radius):
        self.radius = radius
        self.diameter = 2 * radius
        self.circumference = 2 * 3.14 * radius

circle = Circle(5)
print(circle.diameter)
print(circle.circumference)

10
31.400000000000002

In [9]:
class Student:
    def __init__(self, *args, **kwargs):
        self.name = args[0] if len(args) > 0 else "Unknown"
        self.age = kwargs.get('age', 0)

student1 = Student("Emma", age=22)
print(student1.name)
print(student1.age)

student2 = Student()
print(student2.name)
print(student2.age)

Emma
22
Unknown
0

In [10]:
class Address:
    def __init__(self, street, city):
        self.street = street
        self.city = city

class Person:
    def __init__(self, name, address):
        self.name = name
        self.address = address

addr = Address("123 Main St", "Springfield")
person = Person("Jake", addr)
print(person.address.city)

Springfield

In [11]:
class DynamicObject:
    def __init__(self, **kwargs):
        for key, value in kwargs.items():
            setattr(self, key, value)

obj = DynamicObject(name="Sam", age=29, job="Engineer")
print(obj.name)
print(obj.age)
print(obj.job)

Sam
29
Engineer

In [12]:
class Book:
    def __init__(self, title, author, year=None):
        self.title = title
        self.author = author
        self.year = year

book1 = Book("1984", "George Orwell", 1949)
book2 = Book("To Kill a Mockingbird", "Harper Lee")
print(book1.year)
print(book2.year)

1949
None

In [13]:
class Person:
    def __init__(self, name):
        self.name = name
        self.greet()

    def greet(self):
        print(f"Hello, my name is {self.name}")

p = Person("Alice")

Hello, my name is Alice

In [14]:
class Team:
    def __init__(self, members):
        self.members = members

team = Team(["Alice", "Bob", "Charlie"])
print(team.members)

['Alice', 'Bob', 'Charlie']

In [15]:
class Temperature:
    def __init__(self, celsius):
        self.celsius = celsius

    @classmethod
    def from_fahrenheit(cls, fahrenheit):
        celsius = (fahrenheit - 32) * 5 / 9
        return cls(celsius)

temp = Temperature.from_fahrenheit(100)
print(temp.celsius)

37.77777777777778

In [16]:
class Config:
    def __init__(self, settings):
        self.settings = settings

config = Config({'host': 'localhost', 'port': 8080})
print(config.settings)

{'host': 'localhost', 'port': 8080}

In [17]:
class Animal:
    def __init__(self, species):
        self.species = species

class Dog(Animal):
    def __init__(self, name):
        super().__init__('Dog')
        self.name = name

dog = Dog("Buddy")
print(dog.species)
print(dog.name)

Dog
Buddy

In [18]:
class MultiData:
    def __init__(self, integer, string, list_of_values):
        self.integer = integer
        self.string = string
        self.list_of_values = list_of_values

data = MultiData(42, "Hello", [1, 2, 3])
print(data.integer)
print(data.string)
print(data.list_of_values)

42
Hello
[1, 2, 3]

In [19]:
class Account:
    def __init__(self, account_number, balance=None):
        self.account_number = account_number
        self.balance = balance if balance is not None else 0

acc1 = Account("123456")
acc2 = Account("789012", 500)
print(acc1.balance)
print(acc2.balance)

0
500

In [20]:
class Logger:
    def log(self, message):
        print(f"Log: {message}")

class Service:
    def __init__(self, logger=None):
        self.logger = logger or Logger()

service = Service()
service.logger.log("Service started")

Log: Service started

In [21]:
class TreeNode:
    def __init__(self, value, left=None, right=None):
        self.value = value
        self.left = left
        self.right = right

root = TreeNode(1, TreeNode(2), TreeNode(3))
print(root.value)
print(root.left.value)
print(root.right.value)

1
2
3