**1. Printing Python Keywords**

In [1]:
import keyword
print(keyword.kwlist)
a = len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

**2 List Operations Creating Lists**

In [2]:
a = [1, 2, 3, 4, 5]
b = [2.4, 7.0, 6.8]
c = ['hello', 'students']
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[2.4, 7.0, 6.8]
['hello', 'students']

**List Slicing and Indexing**

In [3]:
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
print(days[1])
print(days[-1])
print(days[:])
print(days[1:4])
print(days[1:4:2])

tuesday
sunday
['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
['tuesday', 'wednesday', 'thursday']
['tuesday', 'thursday']

**List Methods**

In [4]:
days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
print(len(days))
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(numbers))
print(min(numbers))
print(sum(numbers))

import random
random.shuffle(numbers)
print(numbers)

7
8
1
36
[2, 4, 8, 7, 6, 1, 5, 3]

**List Operators**

In [5]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
b = 3 * a
print(b)
print('wednesday' in days)
print('wednesday' not in days)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
True
False

3. Tuple Operations
Creating Tuples **bold text**

In [6]:
a = (5,)
print(a)
print(type(a))

a = (1, 2, 3, 4, 5)
b = (6.5, 5.9, 2.0)
c = ('one', 'two', 'three')
mix = ('hello', 708, 66.8, 1, 2)

print(a)
print(b)
print(c)
print(mix)

(5,)
<class 'tuple'>
(1, 2, 3, 4, 5)
(6.5, 5.9, 2.0)
('one', 'two', 'three')
('hello', 708, 66.8, 1, 2)

Accessing Tuple

In [7]:
a = (1, 2, 3, 4, 'hello')
print(a[4])

hello

4. Dictionary Operations
Creating and Accessing Dictionaries

In [8]:
a = {
    'name': 'joy',
    'age': 23,
    'education': 'Engineer'
}
print(a)
print(len(a))
print(type(a))
print(a.keys())
print(a.values())

{'name': 'joy', 'age': 23, 'education': 'Engineer'}
3
<class 'dict'>
dict_keys(['name', 'age', 'education'])
dict_values(['joy', 23, 'Engineer'])

5. Set Operations
Creating and Modifying Sets

In [9]:
set1 = {1, 2, 3, 4}
print(set1)

set2 = {1, 2, 3, 4, 5, 6, 7}
print(set2)


set3 = {1, 2, 3, 4, 5, 6, 7, 1, 1}
print(set3)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

6.Functions in Python
Built-in Functions

In [10]:
print(max([1, 2, 3]))
print(min([1, 2, 3]))
print(sum([1, 2, 3]))
print(print('Hello, World!'))

3
1
6
Hello, World!
None

**User-defined Function**

In [11]:
def add():
    a = 2
    b = 3
    sum = a + b
    return sum

print(add())

5

**Anonymous Function (Lambda)**

In [12]:
add = lambda x, y: x + y
print(add(2, 3))

5

**7. Function Modularity Example**

In [13]:
def collectdata():
    'function to collect data'
    pass

def cleandata():
    'function to clean data'
    pass

def processdata():
    'function to pre-process the data'
    pass

def exploredata():
    'function to explore data'
    pass

def visualization():
    'function to visualize data'
    pass


collectdata()
cleandata()
processdata()
exploredata()
visualization()